body {
    background-color: #999;
}

.box-shadow-effect {
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.20);
}

.banner {
    display: flex;    
    justify-content: center;

    padding: 2rem 2rem 1.2rem 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #fff;
}

.banner-icon {
    width: 3rem;
    fill: #fff;
}

.banner-text {
    margin: 0 1.5rem;
}

#scoreboard {
    display: flex;
    gap: 4rem;

    width: 40%;
    padding: 0.6rem 1rem;
    margin: 0 auto 0.8rem auto;

    background-color: #fff;
}

.player-info-wrapper {
    flex: 1;
    font-size: 1.1rem;
}

.player-info {
    display: flex;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    color: #fff;
    background-color: #a19ce6;
}

.player-info > * {
    padding: 0.3rem 1rem;
}

.player-name {
    flex: 1;
    text-align: center;
    letter-spacing: 0.05rem;
}

.name-edit-btn {
    width: 1.2rem;
    fill: #fff;
    vertical-align: text-top
}

.player-mark {
    border-radius: 0 12px 12px 0;
    background-color: #7a7a7a;
}

.player-score {
    display: flex;
    border-radius: 12px;

    color: #fff;
    background-color: #999;
}

.player-score > * {
    padding: 0.3rem 1rem;
}

.score-icon {
    width: 1.2rem;
    fill: #fff;
    border-radius: 12px 0 0 12px;
    background-color: #222;
}

.win-count {
    flex: 1 1 auto;
    text-align: center;
}

#game-menu {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 1.2rem auto 0.8rem auto;
}

#restart-game {
    border: none;
    width: 15rem;
    height: 3rem;
    color: #fff;
    background-color: #373737;
    font-size: 1.2rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}

.game-board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #646262;
    border: 0.1px solid #b9b9b9;
}

#game-result-popup {
    position: fixed;
    top: -52%;

    border: none;
    width: 28%;
    height: 15%;
    padding: 0.4rem 0.1rem;

    color: #fff;
    background-color: #434141;
}

#game-result-popup form {
    position: relative;
    height: 100%;
}

#top-row {
    display: flex;
    justify-content: flex-end;
}

#dialog-close-btn {
    border: none;
    height: 1rem;
    color: #fff;
    background-color: inherit;
}

#dialog-close-btn:focus-visible {
    outline: none;
}

#game-result-text  {
    position: absolute;
    top: 12%;
    left: 34%;

    font-size: 1.5rem;
}