body {
    background-color: #999;
}

.banner {
    display: flex;    
    justify-content: center;

    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #fff;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}

.game-board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #646262;
    border: 0.1px solid #b9b9b9;
}

#game-result-popup {
    position: fixed;
    top: -52%;

    border: none;
    width: 28%;
    height: 15%;
    padding: 0.4rem 0.1rem;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.20);

    color: #fff;
    background-color: #434141;
}

#game-result-popup form {
    position: relative;
    height: 100%;
}

#top-row {
    display: flex;
    justify-content: flex-end;
}

#dialog-close-btn {
    border: none;
    height: 1rem;
    color: #fff;
    background-color: inherit;
}

#dialog-close-btn:focus-visible {
    outline: none;
}

#game-result-text  {
    position: absolute;
    top: 12%;
    left: 34%;

    font-size: 1.5rem;
}